// .director-view {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

// .back-button-div {
// display: flex;
// justify-content: ;
// }

// .homescreen_click {
//   color: black;
//   font-size: large;
//   background-color: yellow;
// }

// .listed_movie {
//   display: flex;
//   justify-content: center;
// }
@font-face {
  src: url(../fonts/SFAlienEncounters-Italic.ttf);
  font-family: retro;
}

@font-face {
  src: url(../fonts/SFAlienEncountersSolid-Ital.ttf);
  font-family: retro_solid;
}

.director-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.centerbutton {
  display: flex;
  justify-content: center;
  font-family: retro;
}

.bio_font {
  color: white;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.birthday_font {
  color: white;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
}