@font-face {
  src: url(../fonts/SFAlienEncounters-Italic.ttf);
  font-family: retro;
}

@font-face {
  src: url(../fonts/SFAlienEncountersSolid-Ital.ttf);
  font-family: retro_solid;
}

.movie_poster {
  height: 400px;
}
 
.card_style {
  border-color: yellow;
  border-width: 8px;
  // margin: 5px;
  background-color: lightseagreen;

}

.title_click {
  color: black;
  font-size: large;
}

// .back_card {
//   background-color: yellow;
//   padding: 1px
// }

.card {
  // flex-direction: column;
  height: 500px;
  // padding: 10px;
  margin: 10px
}

