// .movie-view {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
@font-face {
  src: url(../fonts/SFAlienEncounters-Italic.ttf);
  font-family: retro;
}

@font-face {
  src: url(../fonts/SFAlienEncountersSolid-Ital.ttf);
  font-family: retro_solid;
}

.movie_view {
  height: 100%;
  width: 100%;
  background-color: lightseagreen;
  display: flex;
  flex-direction: row;
  border-width: 8px;
  border-color: yellow;
}

.movie_view_poster {
  height: 100%;
  width: 30%;
}

.movie_body {
  position: relative;
}

.label {
  font-size: 30px;
  font-weight: 800;
  color: white;
  display: flex;
  justify-content: center;
  text-shadow: 3px 3px blue;
  font-family: retro;
}

.view_link {
  font-size: 20px;
  font-weight: 600;
  color: darkmagenta;
}

.back_button {
  color: black;
  font-family: retro;
}

.movie-title {
  font-size: 45px;
}

.fav-button {
  background-color: darkmagenta
}

.homescreen_click {
  color: black;
  font-size: large;
  background-color: yellow;
  display: flex;
  justify-content: center;
  margin: 30px
}

.centerbutton {
  display: flex;
  justify-content: center;
  font-family: retro;
}


.retro_solid {
  font-family: retro_solid;
}