@font-face {
  src: url(../fonts/SFAlienEncounters-Italic.ttf);
  font-family: retro;
}

@font-face {
  src: url(../fonts/SFAlienEncountersSolid-Ital.ttf);
  font-family: retro_solid;
}

.movie-container {
  // display: flex;
  // flex-wrap: wrap;
  background-color: darkmagenta;
  height: 100vh,
  min-height 100vh
  // justify-content: center;
  // width: 100%
}

.profile-header-button {
  font-family: retro;
  font-size: 30px;
  background-color: transparent;
  color: white;
}

.main-view {
  display: flex;
}

.main_header-row {
  display: flex;
justify-content: space-around;
}

.card-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_header {
  font-size: 70px;
  color: lightseagreen;
  font-weight: 500;
  // font-stretch: expanded;
  font-family: retro;
  text-shadow: 3px 3px blue;
  // display: grid;
  justify-content: center;

}

