@font-face {
  src: url(../fonts/SFAlienEncounters-Italic.ttf);
  font-family: retro;
}

@font-face {
  src: url(../fonts/SFAlienEncountersSolid-Ital.ttf);
  font-family: retro_solid;
}

.movie-container {
  // display: flex;
  // flex-wrap: wrap;
  background-color: darkmagenta;
  height: 100vh,
  min-height 100vh
  // justify-content: center;
  // width: 100%
}

.profile-header-button {
  position: relative;
  margin: 10px;
  padding: 10px;
  font-family: retro;
  font-size: 30px;
  background-color: transparent;
  color: white;
  top: 10px
}

.main-view {
  display: flex;
}

.main_header-row {
justify-content: space-between;
position: fixed;
z-index: 1;
background-color: darkmagenta;
width: 80%;
}

.main_header-container{
  background: darkmagenta;
  display: block;
  position: relative;
  z-index: 3;
  height: 150px;
}

.header-background {
  position: fixed;
  color: darkmagenta;
  height: 100px;
}

.card-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main_header {
  font-size: 70px;
  color: lightseagreen;
  font-weight: 500;
  // font-stretch: expanded;
  font-family: retro;
  text-shadow: 3px 3px blue;
  // display: grid;
  justify-content: center;

}

