// .homescreen_click {
//   color: black;
//   font-size: large;
//   background-color: yellow;
//   display: flex;
//   justify-content: center;
// }

// .listed_movie {
//   display: flex;
//   justify-content: space-around;
// }

@font-face {
  src: url(../fonts/SFAlienEncounters-Italic.ttf);
  font-family: retro;
}

@font-face {
  src: url(../fonts/SFAlienEncountersSolid-Ital.ttf);
  font-family: retro_solid;
}

.centerbutton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.render_movies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.genre-view {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.genre.box {
  width: 100%;
}