.profile-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%
}
.pv-username {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pv-fav-movies{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.remove-button {
border: none;
width: 100%;
}

.remove-button:hover {
  background-color: steelblue;
  font-size-adjust: 20px;
  color: white;
  box-shadow: 3px 3px blue;
}

.info {
  display: inline;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.profile-form {
  color: lightseagreen;
  // font-stretch: expanded;
  font-family: retro;
  text-shadow: 3px 3px blue;
}